doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/assests/css/appoint.css")
  body 
    //- Navigation Bar
    header
      .header-container
        .logo
          .image
            i.fas.fa-hospital(style='font-size:60px')
          .heading PULSECARE
            .subheading Where Every Beat Matters
        .sub
          nav
            ul
              li
                a(href="/appointment") Book Appointment
              li
                a(href="/history") History
              li#log
                a#log1(href="/login") Logout

    section.appointment-section
      .appointment-container
        //- Left Side: Appointment Details
        .appointment-details
          .appointment-tag Appointment
          h2 Make An Appointment To Visit Our Doctor
          p Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet

          //- Contact Info Sub Containers
          .sub-container
            .contact-item
              .icon-container1
                i.fas.fa-phone-alt
              .contact-info
                p Call Us Now
                p
                  strong +012 345 6789

            .contact-item
              .icon-container1
                i.fas.fa-envelope
              .contact-info
                p Mail Us Now
                p
                  strong Pulsecare@hospitalmanagement.com

        //- Right Side: Appointment Form
        .appointment-form-container
          form.appointment-form(id="appointmentForm")
            .form-group
              input(type="text", placeholder="Describe your problem", name="problemDescription", required)
            .form-group
              select(name="doctorUsername", required)
                option(value="") Choose Doctor
                //- Options will be populated here by JavaScript
            .form-group
              input(type="date", name="appointmentDate", required)
              input(type="time", name="appointmentTime", required)
            button.book-btn(type="submit") Book Appointment

    // Success message display area
    p#successMessage(style="color: green; display: none;") Appointment successfully booked!
    p#errorMessage(style="color: red; display: none;") Failed to book the appointment.

    script(src="/assests/js/appointement_script.js")
