doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Hospital Management Dashboard
    link(rel="stylesheet" href="/assests/css/dash.css")
  
  body
    header
      h1 Receiptionist Dashboard
      nav
        ul
          li
            a(href="#" id="patient-management-nav") Room Booking
          li
            a(href="#" id="appointment-scheduling-nav") Appointment Scheduling
          li
            a(href="#" id="billing-management-nav") Billing and Payment Management

    main#dashboard-content

    script(src="./assests/js/dash_script.js")
